/* styles.css */

/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Contenedor para limitar el ancho del contenido */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilo del contenedor de la imagen */
.image-container {
    display: flex; /* Activa el modelo de flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 400px; /* Altura del contenedor (ajusta según sea necesario) */
    }

    /* Estilos de la imagen */
.header-image {
    max-width: 20%; /* Ajusta el tamaño de la imagen dentro del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 60px;
}
/*centrar imagen*/

img {
    display: block;
    width: 60%;
    margin: auto;
  }
/* Estilos para el párrafo de descripción */
.description {
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(6, 119, 2, 0.466);
}

/* Estilos para los enlaces de navegación */
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    background: #ddd;
    border-radius: 20px;
    margin-right: 10px;
    display: inline-block;
    transition: background 0.3s ease;
}

/* Efecto hover para los enlaces de navegación */
nav a:hover {
    background: #ccc;
}

/* Estilos para el pie de página */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
